<i class="close icon"></i>
<div class="header">
  Login
</div>

<div class="ui container segment basic">
  <form class="ui form">
    <div class="field">
      <label>Email</label>
      {{input value=user.email placeholder='Email'}}
    </div>
    <div class="field">
      <label>password</label>
      {{input type='password' value=user.password}}
    </div>

    <button class="ui button" type="submit" {{action 'login'}}>Login</button>
  </form>
</div>

<div class="actions">
  <div class="ui positive right labeled icon button switch">
    Register
    <i class="checkmark icon"></i>
  </div>
</div>
