<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui container ">
  {{#if isActive}}
  <form class="ui form">
    <h3 class="ui top header center aligned dividing">New Plan</h3>
    <div class="field">
      <label>Name</label>
      {{input type='text' placeholder='Enter name for the plan'}}
    </div>
    {{#if addItem}}
    <div class="two fields">
      <div class="field">
        {{input type='text' placeholder='Enter item name'}}
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0">
          <label>Done</label>
        </div>
      </div>
    </div>
    {{/if}}
    <div class="ui buttons">
      <button class="ui teal button"><i class="add circle icon"></i>Add items</button>
      <div class="or"></div>
      <button class="ui basic positive button"><i class="save circle icon"></i>Save</button>
    </div>
  </form>
  {{else}}
  <button class="ui circular plus icon button" {{action 'switch'}}><i class="facebook icon"></i>Create New plan</button>
  {{/if}}
</div>
