<div class="ui two buttons">
  <div class="ui basic green button" {{action 'addItem'}}><i class="add circle icon"></i>Add item</div>
  <div class="ui basic red button" {{action 'delete' list}}><i class="trash icon"></i>Delete list</div>
</div>
