<div class="ui big relaxed horizontal divided list">
  <div class="item">
    <div class="content">
      <a class="header">{{ui-popup tagName="i" class="checkmark box icon green" content="Mark as completed."}}</a>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <a class="header">{{ui-popup tagName="i" class="edit icon violet" content="Edit this item."}}</a>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <a class="header">{{ui-popup tagName="i" class="trash icon red" content="Delete this item."}}</a>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
