{{nav-bar}}

  {{outlet}}

  <div class="ui vertical footer">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <p><a href='http://github.com/andela-ooranagwa/plans'>Vew project on Github</a></p>
            <p><a href="http://pl-an.herokuapp.com/docs">Project documentation</a></p>
          </div>
        </div>
        <div class="ten wide column">
          <h4 class="ui inverted header">Our services</h4>
          <p><a href="http://pl-an.herokuapp.com">Plans Bucketlist API interface</a></p>
        </div>
      </div>
    </div>
  </div>
