<div class="masthead segment ui container very padded">
  <h2 class="ui header">Here we would have a listing of all the bucketlist available</h2>
  <div class="ui internally grid">
    <div class="row">
      <div class="ten wide column">
        <div class="ui cards">
          {{outlet}}
      </div>
      </div>
      <div class="six wide column">
        <div class="segment ui container padded">
          <h3 class="ui top header center aligned dividing">{{pendingItemCount}} Todo items&emsp;<i class="wait icon"></i></h3>
          <div class="ui container">
            <ol class="ui list">
              {{#each pendingItems as |item|}}
                <li>{{#link-to 'bucketlists.show' (getbucketlist item)}}{{item.name}}{{/link-to}}</li>
              {{/each}}
            </ol>
          </div>
        </div>
        {{#link-to 'bucketlists.new'}}<button class="ui circular plus green button" ><i class="add circle icon"></i>Create New plan</button>{{/link-to}}
      </div>
    </div>
  </div>
</div>
