Plans provides an API service that allows user create and manage bucketlists (and bucketlist items).

Users of the service can have many bucketlists and a bucketlist can have many items. Items can be marked as done or pending. A possible flow of the use of the API service is outlined below.

<a href='http://github.com/andela-ooranagwa/plans'>view project on Github</a>

<a href="http://pl-an.herokuapp.com/docs">view project on documentation</a>
